body{
  background-color: black;
  text-align: center;
  
}

.head {
  height: 120px;
  width: 100%;
  text-align: center;
   

}




.head h1{
 
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 34px;
  color: #db5f13;
  font-family: 'Share Tech Mono', monospace;
}



.headed{
  display: flex;
  
}






#fu{
  background-color: black;
  color:black;
  border-color: black;
}



  
     


.btn_anm {
  height: 34px;
  width:130%;
  text-align:center;
  border-color: black;
  background-color: black ;
  color: white;
  font-family: 'Ubuntu', sans-serif;
 
    
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn_anm:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn_anm:active {
    color: #000
}

.btn_anm:active:after {
    background: transparent;
}

.btn_anm:hover:before {
    opacity: 1;
}

.btn_anm:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.image{
  height: 200px;
  width: 100%;
  position: relative;
  text-align: center;
}

.image p{
  color: rgb(57,57,44);
  
  position: absolute; 
  bottom: 7px;
  text-align: center;
  left: 27%;
}




#text{
  
  font-family: 'Grandstander', cursive;
  color: cyan;
}


.intruduction{
  text-align: center;
  
  
}

.intruduction h1{
  color: white;
  font-family: 'Source Code Pro', monospace;
  display: bold;
}

.intruduction span{
  color: rgb(153,153,153);
  text-align: center;
    font-family: 'Ubuntu', sans-serif;
}








.web_dev{
  text-align: center;
  height: 40px;
}


.strt_img{
  height: 40px ;
  width:40px;
  border-radius: 100%;
  border-color: red;
  
  border:2px solid #555;
}


.web_dev span{
  color: white;
  font-size: 23px;
  font-family: 'Ubuntu', Monospace;
  
}



.project span{
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu', Monospace;
  font-family: 'B612 Mono', monospace;
  
}


.project_text{
  text-align: center;
}


.project_text span{
  color: rgb(153,153,153);
  text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.project_text fuck{
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'B612 Mono', monospace;
  */
}
