


@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');



@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);






*{
  padding: 0;
  margin: 0;
 
}

.head{
  
  min-height: 100vh;
  width: 100%;
  background-color: rgba(4,9,30,0.7);
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/background.png");
  background-size: cover;
  
}


nav{
  display: flex;
  padding: 0px 12px 16px 0px;
  justify-content: space-between;
}

nav h1{
  padding: 2%;
  font-size: 35px;
  color: white;
  font-family: 'Sniglet', cursive;
  
}


.nav-links{
  padding-top: 2%;
  flex: 1;
  text-align: right;
}

.nav-links ul li{
 
  display: inline-block;
  padding: 8px 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Sniglet', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.nav-links ul li a{
 
  text-decoration-line: none;
  color: #fff;
  transition: 0.5s;
}


.nav-links ul li::after{
  content: "";
}


.nav-links ul li:hover{
  font-size: 20px;
  
  color: #f44336;
}

.nav-links ul li:hover::after{
  color: #f44336;
  content: " |";
  color: #f44336;
}

.nav-links ul li a:hover{
  color: #f44336;
  color: rgba(255,243,243,0.7);
  color: rgba(14,133,181,0.7);
}


.header{
  width: 80%;
  text-align: center;
  margin: auto;
 padding-top: 50%;
}



.header h1{
  color: #fff;
  
  text-align: center;
  font-size: 49px;
  font-family: 'Poppins', sans-serif;
 
 
}

.header p{
  color: #fff;
  text-align: center;
  
  padding-top: 5px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}


.visit{
  height: 380px;
  width: 100%;
  
 
  
  margin-bottom: 5%;
  padding-top: 35px;
  padding-bottom: 12px;
  box-sizing: border-box;
  transition: 0.5s;
  /*background-color: rgba(255,243,243,0.7);*/
  
}


.visit h2{
  color: #fff;
  width: 100%;
 
  text-align: center;
  
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  padding-top: 20px;
  font-family: 'Sniglet', cursive;
  
}

#visitor{
  font-family: 'Sniglet', cursive;
  color: rgb(197,153,153);
  font-family: 'Fira Sans', sans-serif;
}


a{
  text-decoration-line: none;
}


#conc1_nav{
  padding-top: 20px;
 
  
}


#head-contact-btn{
  color: #fff;
  font-size: 30px;
 
  margin: auto;
  padding-top: 10px;
  padding: 25px 100px;
  border: 2px solid white;
  font-family: 'Sniglet', cursive;
  font-size: 35px;
  transition: 0.8s;
}



#head-contact-btn:hover{
  background: rgba(255,243,243,0.7);
  color: rgba(14,133,181,0.7);
  color: cyan;
}




.about{
  background: #fff;
  color: #000;
  height: 22vh;
  width: cover;
  text-align: center;
}

.about h1{
  padding-top: 20px;
  font-size: 49px;
  font-family: 'Sniglet', cursive;
  color: rgb(197,153,153);
}

.about p{
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
}



.book{
  height: 50vh;
  width: cover;
  background: #fff;
  text-align: center;
}


.book h1{
  font-size: 49px;
  text-align: center;
  font-family: 'Sniglet', cursive;
  color: rgb(197,153,153);
}


.book p{
  font-size: 30px;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}



.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}


.about-col{
  margin: 5px;
  padding: 5px;
  width: 180px;
  flex-basis: 32%;
  background: #fff3f3;
  background: rgba(0,0,0,0.2);
  height: 200px;
  padding-top: 18px;
  padding-bottom: 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}


.about-col h2{
  padding-top: 5px;
  text-align: center;
  font-weight: 400;
  margin: 0px 0px;
  font-family: 'Sniglet', cursive;
  color: #000;
  font-size: 40px;
}


.about-col p{
  padding-top: 5px;
  color: #777;
  font-size: 30px;
}


.about-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}



.about-col p a{
  color: #777;
}


.about-col p a:after{
  content:"Download Now";
}


.about-col p a:hover{
  color: #fff;
}

.about-col p a:hover:after{
  content: 'Downloading .....';
}



.skill{
  height: 40vh;
  width: cover;
  background: #fff;
  text-align: center;
  
  margin: auto;
  text-align: center;
 
  padding-top: 90px;
}


.skill h1{
  font-size: 49px;
  text-align: center;
  
  padding-bottom: 20px;
  font-family: 'Sniglet', cursive;
  color: rgb(197,153,153);
}

.raw1{
  height: 30vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  justify-content: space-between;
}


.raw1 img{
  position: relative;
  background:  black;
  height: 100%;
  width: 40%;
  border-radius: 17px;
  padding-right: 10px;
  justify-content: space-between;
 
}




.raw1 h1{
  position: relative;
  position: absolute;
  bottom: 20%;
  left: 17%;
  transition: 0.5s;
  color: #777;
}

.raw1 p{
  position: relative;
  position: absolute;
  bottom: 20%;
  left: 12%;
  transition: 0.5s;
  color: #fff;
  font-size: 30px;
}


.raw1 img:hover ~ #txt{

  color:#fff3f3;
  bottom: 40%;
}


.raw1 img:hover ~ #txt_p{

  color: #5eabab;
  color: red;
  font-weight: bold;
  bottom: 40%;
}


.btn-up{
  height: 10vh;
  padding-top: 5vh;
  width: 100%;
  text-align: center;
  justify-content: 10px;
 
}


.btn-up a{
  color: #000;
  font-size: 30px;
  margin-left: 5px;
  margin: auto;
  padding-top: 10px;
  padding: 25px 80px;
  border: 2px solid #000;
  font-family: 'Sniglet', cursive;
  font-size: 35px;
  transition: 0.8s;
  background: rgba(255,243,243,0.7);
}

.btn-up a+a{
  margin-left: 15px;
}

.btn-up a:hover{
  color: cyan;
  background: rgba(255,243,243,0.9);
  background: #5eabab;
  color: rgba(255,243,243,0.7);
}


.contact{
  height: 80vh;
  width: cover;
  background: #fff;
  text-align: center;
  
}





.contct button{
  color: #000;
  height: 100px;
  width: 270px;
 border-radius: 17px;
  border: 2px solid #000;
  font-family: 'Sniglet', cursive;
  font-size: 35px;
  transition: 0.5s;
  background: rgba(255,243,243,0.7);
}


.contact h1{
  font-size: 49px;
  text-align: center;
  padding-bottom: 80px;
  padding-bottom: 20px;
  font-family: 'Sniglet', cursive;
  color: rgb(197,153,153);
}



.contct{
  padding-top: 30px;
}

.contact p{
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
}


.contct button:hover{
  color: cyan;
  background: rgba(255,243,243,0.9);
  background: #5eabab;
  color: rgba(255,243,243,0.7);
}


.contctcont button a{
  color: #000;
}

#menu{
  display:none;
}


@media(max-width: 480px){
  #menu{
    display: block;
  }
  
  body{
    width: cover;
  }
  
  .nav-links{
     display: none;
  }
  
    .nav-links ul li{
    display: block;
    
    }
    
  nav i{
  display: flex;
  }
  
  
   


  .nav-links{
    position: absolute;
    background: #f44336;
    background: rgb(14,133,181);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    
      }
   
   nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }
  
    .nav-links ul{
    padding: 30px;
      }
  
  
  
  
}
  
