@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background:#eff1f3;
  font-family: 'Nunito', sans-serif;
 /** background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("background.png");
  background-size:cover;**/
}

img{
pointer-events: none;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #777;
  position: fixed;
  pointer-events:none;
  animation:fadeout .5s linear forwards;
  animation-delay:8.5s;
}

@keyframes fadeout {
  0%{
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
 


.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #eff1f3;
}
.count {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  font-size: 18vw;
  color: #000;
   display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  
  width: 100%;
  
}



.welcome {
background: rgba(0,0,0,0.04);
padding-top:50px;
 text-align:center;
 height:600px
}

.profile{
height:250px;
width:250px;
border-radius:50%;
display:block;
margin:auto;
animation: profil 1.2s linear 1;


}


@keyframes profil{
0%{opacity:0;
margin-top:25px;
}

100%{opacity:1;
margin-top:1px;}
,ws}
.welcome h1{
font-size: 62px;
}
.welcome p{
font-size: 40px;
margin-top:-20px;
color:#777;
}


nav{
 
 text-align:center;
  padding: 0px 2px 6px 0px;
  justify-content: space-between;
  align-items: center;
  display:block;
  margin:auto;
}

#navLink{
disply:flex;
justify-content:space-between;
}



nav ul li{
list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
   font-size: 13px;
  font-weight: bold;
}

nav ul li a{
text-decoration-line:none;
color: #000;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  color: #757f91;
  display: block;
  margin: auto;
  transition: 1s;
}

nav ul li:hover{
color:#757f91;
}


nav ul li:hover::after{
  content: "__________";
  width: 100%;
  height: 2px;
}

#menu{
color:#757f91;
transition:0.5s;
}
nav ul #menu:hover::after{
content:'';
color:#777;
}

nav ul #menu:hover{
color:#000;
}


.aboutMe{

width: 100%;
text-align:center;
margin-top:60px;
}

.aboutMe h2{
font-size:56px;
}

.aboutMe p{
font-size:38px;
max-width:700px;
display:block;
margin:auto;
color:#777;
}



.picture{
height:750px;
width: 100%;
text-align:center;
margin-top:60px;

}

.picture h2{
font-size:56px;
}


.picture img{
height: 600px;
width:600px;
display: block;
margin: auto;
margin-bottom: 20px;
border-radius: 12px;
box-shadow: 7px 7px 20px 7px #8f838ffb;

}

.picture #img_left{


position: absolute;
top: 1815px;
left:190px;
font-size: 100px;
color: #000 ;
transition: 0.5s;
}
.picture #img_right{


position: absolute;
top: 1815px;
right:190px;
font-size: 100px;
color: #000;
transition: 0.5s;
}

.picture #img_right:hover{
color:#777;
}

.picture #img_left:hover{
color:#777;
}

.awerd{
height: 100%;
width: 100%;
text-align:center;
margin-top:60px;
background: rgba(0,0,0,0.04);
padding-bottom: 45px;
}

.awerd h2{
font-size:56px;
padding-top: 80px;
}

.awerded{

}

.awerded img{
height:230px ;
width: 230px;
border-radius: 50%;
}

.awerded h3{
font-size: 40px;
max-width: 650px;
display: block;
margin: auto;
}

.awerded p{
font-size: 33px;
max-width: 700px;
display: block;
margin: auto;
margin-top: 35px;
margin-bottom: 45px;
color: #777;
}
