
  body {
    
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('../img/main.png');
    /*background-repeat: no-repeat;*/
   background-size: 100% 100%;
  
  
}


nav {
  
  width: 100%;
  height: 10vh;
 justify-content: space-between;
  /*background: black;*/
  /*color: white;*/
  
}

nav p{
  color: cyan;
  
  display: flex;
  align-items: center;
  padding-left: 10px;

  text-shadow: 10px 10px 10px;
}


/*

The Flaxing Ring*/

/*
nav h3::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

*/


nav button{
  
  color: white;

  background-color: black;
 
   -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  outline: none;
  text-align: left;
  font-size: 15px;
  
  padding: 10px;
  width: 169px;
  font-family: 'Roboto Mono', monospace;
  border-color: black;
font-style: bold;
}



footer input{
  
  background-position: 100px 100px 100px;
  
  background-color: black;
    outline: none;
  text-align: center;
  font-size: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
   border-block: none;
   border-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  
  transition: 0.2s;
	cursor: pointer;
  font-weight: bold;
  width: 150px;
  color:white;
}


footer a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}



.blank{
  
  color: white;
  
  
   -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  width:200px;
  
  
  -webkit-animation: 0.5s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 0.5s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}




.wel{
  font-size: 20px;
  text-align: center;
  color:rgb(2,125,148);
  text-transform: uppercase;
  text-shadow: 10px 10px 10px;
  
}


.break{
  
  padding-left: 30px;
}

main{
  height: 15vh;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  
}



main button{
  background-color: cyan;
  
   
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  padding: 10px;
  border-color: cyan;
}



main input{
  background-color: cyan;
  
   
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border-color: cyan;
}

main input:active, main input:hover, main input:focus {
	outline: none !important;
	color: white;
}

main button:active, main button:hover, main button:focus {
	outline: none !important;
	color: white;
}




/* Picture */



.pic1{
  width: 100%;
  height: 40vh;
  background-image: url(../img/img1.png);
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-size: cover;
}

.pic2{
  width: 100%;
  height: 40vh;
  background-image: url(../img/img2.png);
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-size: cover;
}

.pic3{
  width: 100%;
  height: 40vh;
  background-image: url(../img/img3.png);
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-size: cover;
}

.pic4{
  width: 100%;
  height: 40vh;
  background-image: url(../img/img4.png);
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-size: cover;
}

  .pic5{
    width: 100%;
    height: 40vh;
    background-image: url(../img/img5.png);
      -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-size: cover;
  }
  
  .pic6{
  width: 100%;
  height: 40vh;
  background-image: url(../img/img6.png);
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-size: 100% 100%;
}



#loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff 
  url("../img/preload.gif")
  no-repeat center;
 no-repeat center center;	
	z-index: 99999;
	background-size: cover;
}
  